[data]
  dotfiles.name = "{{ (bitwarden "item" "dotfiles").identity.firstName }} {{ (bitwarden "item" "dotfiles").identity.lastName }}"
  dotfiles.email = "{{ (bitwarden "item" "dotfiles").identity.email }}"
  dotfiles.git_signingkey = "{{ (bitwardenFields "item" "dotfiles").git_signingkey.value }}"
