root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4

[{Dockerfile,Dockerfile.}*]
indent_size = 4

[*{.mk,Makefile}]
indent_style = tab

# Ignore file
[dot_gitignore.tmpl]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
