[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[user]
	email = "{{ .dotfiles.email }}"
	name = "{{ .dotfiles.name }}"
	signingkey = "{{ .dotfiles.git_signingkey }}"
