path_asdf="$HOME/.asdf/shims:$HOME/.asdf/bin"
path_docker="$HOME/.docker/bin"
path_default="/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

{{ if eq .chezmoi.os "darwin" -}}
path_homebrew="/usr/local/opt/coreutils/libexec/gnubin:/usr/local/opt/curl/bin:/usr/local/opt/findutils/libexec/gnubin:/usr/local/opt/gnu-getopt/bin:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/opt/gnu-tar/libexec/gnubin:/usr/local/opt/grep/libexec/gnubin:/usr/local/opt/make/libexec/gnubin:/usr/local/opt/openssl/bin:/usr/local/opt/gnu-which/libexec/gnubin:/usr/local/opt/zip/bin:/usr/local/Homebrew/bin:/opt/homebrew/opt/coreutils/libexec/gnubin:/opt/homebrew/opt/curl/bin:/opt/homebrew/opt/findutils/libexec/gnubin:/opt/homebrew/opt/gnu-getopt/bin:/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/gnu-tar/libexec/gnubin:/opt/homebrew/opt/grep/libexec/gnubin:/opt/homebrew/opt/make/libexec/gnubin:/opt/homebrew/opt/openssl/bin:/opt/homebrew/opt/gnu-which/libexec/gnubin:/opt/homebrew/opt/zip/bin:/opt/homebrew/bin"
# FIXME: Adding binutils to the PATH causes an issue on amd64 architecture
# but not on arm, see https://developer.apple.com/forums/thread/694062
# :/usr/local/opt/binutils/bin :/opt/homebrew/opt/binutils/bin
path_packages="$path_asdf:$path_docker:$path_homebrew"
{{- else if eq .chezmoi.os "linux" }}
path_packages="$path_asdf:$path_docker"
{{- end }}

export PATH="$HOME/bin:$HOME/.local/bin:$path_packages:$path_default"
