export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
plugins=(git)
source $ZSH/oh-my-zsh.sh

eval $(source $HOME/.local/bin/detect-operating-system.sh)
for file in ~/.{$SYSTEM_DIST,path,exports,functions,aliases,extra}; do
  [ -f "$file" ] && source "$file"
done
unset file;
