[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
[commit]
  gpgsign = true
[user]
  email = {{ .dotfiles.email | quote }}
  name = {{ .dotfiles.name | quote }}
  signingkey = {{ .dotfiles.git_signingkey | quote }}
