{{ if eq .chezmoi.os "darwin" }}{{ include "./assets/.gitignore.macos" }}{{ end }}
{{ if eq .chezmoi.os "linux" }}{{ include "./assets.gitignore.linux" }}{{ end }}
{{ if eq .chezmoi.os "windows" }}{{ include "./assets.gitignore.windows" }}{{ end }}
