#!/bin/sh -e

{{ if eq .chezmoi.os "darwin" }}
  {{ joinPath .chezmoi.sourceDir "assets/install-packages.macos.sh" | quote }}
{{ else if eq .chezmoi.os "linux" }}
  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{ joinPath .chezmoi.sourceDir "assets/install-packages.windows.sh" | quote }}
  {{ end }}
{{ end }}
