#!/bin/bash

set -e

eval $(source "$HOME/.local/bin/detect-operating-system.sh")
source "$HOME/.path"
source "$HOME/.exports"
source "$HOME/.functions"

for file in {{ joinPath .chezmoi.sourceDir "./assets/*.$SYSTEM_DIST.sh" }}; do
  print-header "Running the $file script ..."
  "$file"
done
