#!/bin/bash

set -e

eval $(source "$HOME/.local/bin/detect-operating-system.sh")
source "$HOME/.path"

source {{ joinPath .chezmoi.sourceDir "./assets/functions.sh" }}
for file in {{ joinPath .chezmoi.sourceDir "./assets/*.$SYSTEM_DIST.sh" }}; do
  print-header "Running the $file script ..."
  "$file"
done
