[profile "Short Account Name"]
sso_region = eu-west-2
sso_start_url = https://my-sso-portal.awsapps.com/start
sso_account_id = # 123456789012
sso_role_name = # permission_set_name
region = eu-west-2
output = json
